body {
  background-color: #ddf5fa;
}
h1 {
  color: #352658;
  font-size: 60px;
  font-family: 'Lucida Sans';
  margin: 0;
  top: 5px;
  left:405px;
  position: relative;
}
img{
  margin: 0;
  top: 20px;
  left:490px;
  position: relative;
  border-radius: 0.75em;
  border:5.5px solid #432153;
}

.letra{
  white-space: pre-wrap;
  margin: 0;
  top: 0px;
  left:450px;
  position: relative;
  font-size: 60px;
  font-family: 'Lucida Sans';
  color:#352658;
  width: 400px;
  background: #bbcbe2;
  padding: 20px 20px 0;
  font-size: 18px;
  max-height: 1660px;
  overflow: hidden;
  transition: max-height 1s;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 16px;
  border-radius: 0.75em;
  border:5.5px solid #432153;
}
.letra.open{
  display: block;
}
iframe{
  white-space: pre-wrap;
  left: 385px;
  position: relative;
  clear: both;
  color:#352658;
  width: 500px;
  background: #bbcbe2;
  padding: 20px 20px 0;
  max-height: 500px;
  transition: max-height 1s;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 0.75em;
  border:5.5px solid #432153;
}
footer {
  flex-shrink: 0; /* Impede que o rodapé encolha */
}